@model IEnumerable<DeSCo.Models.Creditor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Table/DataTableColumnFilter_LayoutPage.cshtml";
}


<h3>Collectors Accounts View</h3>

<p>
    @Html.ActionLink("Create New", "Create","Creditor")
</p>

<script language="javascript" type="text/javascript">


    $(document).ready(function () {

        $.datepicker.regional[""].dateFormat = 'dd/mm/yy';
        $.datepicker.setDefaults($.datepicker.regional['']);

        var oTable = $('#mytable').dataTable({
            "bServerSide": true,
            "sAjaxSource": "/Creditor/DataProviderAction",
            "bJQueryUI": true
        });

        oTable.columnFilter({
            aoColumns: [{ type: "text" },
                        { type: "text" },
                        { type: "number-range" },
                        { type: "text" }
                        ]
        });

    });
 </script>

<table id="mytable"  class="display" >
    <tr>
        
        <th scope="col" abbr="FullName" >
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNo)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.OSAmount)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignTo)
        </th>
       

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr >
        
         <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
           
        <td>
            @Html.DisplayFor(modelItem => item.CardNo)
        </td>

       <td>
            @Html.DisplayFor(modelItem => item.OSAmount)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignTo)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
