<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/jqsimplemenu.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jqsimplemenu.js")" type="text/javascript"></script>



</head>



<body style="font-size: 80%;">

    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink(".:: Credit Collection System ::.", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                @*  <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Account", "Customization", "Company")</li>
                            <li>@Html.ActionLink("Payment", "Tab", "Company")</li>
                            <li>@Html.ActionLink("Admin", "", "")</li>
                            <li>@Html.ActionLink("Audit", "", "")</li>
                            <li>@Html.ActionLink("Report", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>*@
                @Html.Partial("Menu")
            </div>
    </header>

    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Credit Collection Application</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>

<script type="text/javascript">
    $(document).ready(function () {
        $('.menu').jqsimplemenu();
    });
</script>
</html>


